PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.yi4kjoj.mongodb.net/college_library?retryWrites=true&w=majority
JWT_SECRET=college_library_secret_key_2025_secure
NODE_ENV=development
